@font-face{
    font-family: 'calculatorFonts';
    src: url(fonts/calculatorFonts.ttf);
    font-weight: 100;
}


#calc{
    width: 360px;
    border: 2px solid black;
    margin: 100px auto;
}

#calc-head{
    font-family: 'calculatorFonts';
    background-color: #ccc;
    height: 50px;
    margin: 5px;
    border: 1px solid black;
    font-size: 40px;
    text-align: right;
    padding: 5px;
    overflow: hidden;
}

#memory{
    background-color: #ccc;
    height: 50px;
    margin: 5px;
    border: 1px solid black;
    font-size: 40px;
    text-align: right;
    padding: 5px;
    overflow: hidden;
}

#calc-body{
    display: grid;
    grid-template-columns: auto auto auto auto auto auto;
    background-color: #2196F3;
    padding: 4px;
    height: 300px;
}

#calc-body > button{
    margin: 1px;
    font-size: 24px;
}


